<form id="formCadastroBenef" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input required="required" type="text" class="form-control cpf-mask" id="CPF" name="CPF" placeholder="999.999.999-99" maxlength="14" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: Maria" maxlength="255" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button type="button" id="btnAddBenef" class="btn btn-success my-2">Incluir</button>
            </div>
        </div>
    </div>
</form>